/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* font import Noto-Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font import Inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */

.light-gray{
    color: rgba(137, 135, 161, 1);
}

.dark-gray{
    color: rgba(37, 36, 50, 1);
}

.description-color{
    color: rgba(0, 0, 0, 0.5);
}



/* navbar section */

.navbar{
    max-width: 1140px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    align-items: center;
}

.nav-list ul{
    display: flex;
    gap: 48px;
}


/* banner section */

.banner{
    max-width: 1140px;
    height: 461px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto;
    align-items: flex-end;
}

.banner-text{
    max-width: 570px;
    height: 299px;
}

.banner-title-1, .banner-title-2{
    font-size: 4rem;
    font-weight: 700px;

}

#fresh, .banner-title-2{
    color: rgba(233, 90, 8, 1);
}

.banner-description{
    max-width: 570px;
    font-size: 1.375rem;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
    align-items: end;
}


/* Plants Section */

.plants-text{
    max-width: 1140px;
    height: 138px;
    text-align: center;
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 49px;
}

.plants-title{
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 16px;
}

#our{
    color: rgba(233, 90, 8, 1);
}

.plants-description{
    max-width: 888px;
    height: 54px;
    font-size: 1.375rem;
    font-weight: 400px;
    margin: 0px auto;
}

/* cards */

.plants-card{
    max-width: 1140px;
    height: 999.88px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    margin-bottom: 83px;
}

.card{
    max-width: 270px;
    height: 484.94px;
    text-align: center;
}

.card-image{
    max-width: 270px;
    height: 322.94px;
    margin-bottom: 30px;
}

.card-name{
    /* max-width: 132px;
    height: 16px; */
    font-size: 1.375rem;
    font-weight: 500px;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 5px;
}

.card-price{
    /* max-width: 81px;
    height: 16px; */
    font-size: 1.375rem;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 20px;
}

.card-btn{
    width: 270px;
    height: 50px;
    background-color: rgba(233, 90, 8, 1);
    color: #FFFFFF;
    cursor: pointer;
}

/* Plants Lover section */

.lover{
    max-width: 1140px;
    height: 597px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 210px;
    margin-bottom: 133px;
}

.lover-image{
    display: flex;
    max-width: 540px;
    height: 597px;
    position: relative;
}

.lover-image-1{
    max-width: 540px;
    height: 597px;
}

.lover-image-2{
    max-width: 286px;
    height: 286px;
    position: absolute;
    left: 360px;
    top: -130px
}

/* lover text */

.lover-text{
    max-width: 540px;
    height: 521px;
    margin-top: 38px;
    margin-bottom: 38px;
}

.lover-title{
    max-width: 540px;
    height: 137px;
    font-size: 3.125rem;
    font-weight: bold;
}

.lover-description-parent{
    margin-top: 20px;
}

.lover-description{
    max-width: 540px;
    height: 108px;
    list-style: disc;
    font-size: 1.375rem;
    font-weight: 400px;
    row-gap: 20px;
}







/* style for mobile device */

@media screen and (max-width: 639px){

    /* navbar */
    .navbar{
        margin: 67px 16px 28px 16px;
    }

    .nav-logo{
        width: 63px;
        height: 38px;
    }

    #mobile-li{
        width: 113px;
        height: 24px;
    }

    /* banner */

    .banner{
        flex-direction: column-reverse;
        margin-bottom: 65px;
    }

    .banner-text{
        max-width: 361px;
        /* height: 147px; */
        margin: 0px auto;
    }

    .banner-title-1{
        max-width: 195px;
        height: 33px;
        font-size: 1.5rem;
        font-weight: 800;
        margin-top: 28px;
    }

    .banner-title-2{
        max-width: 122px;
        height: 33px;
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 13px;
    }

    .banner-description{
        max-width: 360px;
        height: 68px;
        font-size: 0.875rem;
        font-weight: 400px;
        text-align: left;
    }

    /* Plants section */

    .plants-text{
        max-width: 393px;
        height: 117px;
        margin-top: 50px;
        margin-bottom: 28px;
    }

    .plants-title{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .plants-description{
        font-size: 0.875rem;
        font-weight: 400px;
        max-width: 336px;
        height: 68px;
        margin-bottom: 28px;
    }

    /* cards */

    .plants-card{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }

    .card{
        max-width: 171px;
        height: 340px;
        margin: 0px auto;
    }

    .card-image{
        max-width: 171px;
        height: 196px;
    }

    .card-name{
        
    }

    .card-btn{
        max-width: 171px;
        height: 50px;
    }

    /* Plants lover section */

    .lover{
        flex-direction: column;
        max-width: 361px;
        height: 648px;
        margin-top: 600px;
        margin-bottom: 0px;
    }

    .lover-image-1{
        max-width: 358px;
        height: 396px;
        margin: 0px auto;
    }

    .lover-text{
        max-width: 361px;
        height: 234px;
    }

    .lover-title{
        max-width: 270px;
        height: 33px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .lover-description{
        max-width: 330px;
        height: 75px;
        margin: 0px auto;
        font-size: 0.875rem;
        font-weight: 400px;
        row-gap: 0px;
    }
}
